footer.footer
  .footer__content
    .footer__left
      h2.title3 OUR FAMILY OF SIGNATURES
      span.footer__line
      .section
        .section__1
          a(href="www.luxuryincatrailtours.com").text Glamping Inca Trail Tours 
          a(href="http://www.peruhoneymoontours.com/").text Peru Honeymoon Tours 
          a(href="www.cheapperutours.com").text Affordable Peru Tours 
          a(href="http://www.disabledtravelperu.com/").text Handicapped Peru Travel Packages
          a(href="http://www.gayperutours.com/").text Gay Peru Tours
          a(href="http://www.privateperutours.com/").text Private Peru Tours 
        .section__2
          a(href="http://www.viewperutours.com/").text Viajes de Lujo en Peru
          a(href="https://view-peru.com/").text Machu Picchu Tickets 
          a(href="https://view-peru.com/").text Peru Volunteer and Travel
          a(href="http://www.perufamilytours.org/").text Peru Family Tours
          a(href="http://www.perufamilytours.org/").text Peru Christmas Travel
          a(href="http://www.perustudenttravel.org/").text Peru Student Travel 

    .footer__center
      h2.title3 WHO´S VIEW PERU?
      span.footer__line
      a(href="https://view-peru.com/").text Viajes de Lujo en Peru
      a(href="https://view-peru.com/conditions-sale").text Machu Picchu Tickets 
      a(href="https://view-peru.com/meet-view-peru-team").text Peru Volunteer and Travel
      p.text Connect With Us Follow View Peru around the world. Traveling with us? Tag your travels with #[span #viewperu] and you may be featured.
    .footer__right
      h2.title3 CONTACT US
      span.footer__line
      a(href="tel:+18883619895") + 1 888 3619 895
      a(href="tel:+448000465350") + 44 800 046 5350
      a(href="#") info@view-peru.com
      h2.title3 FOLLOW US
      .networksocial
        a(href="https://www.tripadvisor.com.pe/Attraction_Review-g294314-d2570418-Reviews-View_Peru_Signatures-Cusco_Cusco_Region.html") 
          img(src=rutaImg('icon-tripadvisor-view-peru-luxury-travel.png'), alt="icon-tripadvisor-view-peru-luxury-travel.png")
        a(href="https://www.youtube.com/channel/UCvpxghVyo-BzSev-wolY7Lg") 
          img(src=rutaImg('icon-youtube-view-peru-luxury-travel.png'), alt="icon-youtube-view-peru-luxury-travel.png")
        a(href="https://www.facebook.com/viewperu/") 
          img(src=rutaImg('icon-facebook-view-peru-luxury-travel.png'), alt="icon-facebook-view-peru-luxury-travel.png")
        a(href="https://twitter.com/viewperu") 
          img(src=rutaImg('icon-twitterview-peru-luxury-travel.png'), alt="icon-twitterview-peru-luxury-travel.png")
        a(href="https://www.instagram.com/viewperu.tours/") 
          img(src=rutaImg('icon-instagram-view-peru-luxury-travel.png'), alt="icon-instagram-view-peru-luxury-travel.png")
  .footer__bottom
    .footer__line.footer__line--full
    p.text ® View Peru & Signatures All Rights Reserved. 2014
    