footer.footer
  .footer__content
    .footer__left
      h2.title3 OUR FAMILY OF SIGNATURES
      span.footer__line
      .section
        .section__1
          a(href="#").text Glamping Inca Trail Tours 
          a(href="#").text Peru Honeymoon Tours 
          a(href="#").text Affordable Peru Tours 
          a(href="#").text Handicapped Peru Travel Packages
          a(href="#").text Gay Peru Tours
          a(href="#").text Private Peru Tours 
        .section__2
          a(href="#").text Viajes de Lujo en Peru
          a(href="#").text Machu Picchu Tickets 
          a(href="#").text Peru Volunteer and Travel
          a(href="#").text Peru Family Tours
          a(href="#").text Peru Christmas Travel
          a(href="#").text Peru Student Travel 

    .footer__center
      h2.title3 WHO´S VIEW PERU?
      span.footer__line
      a(href="#").text Viajes de Lujo en Peru
      a(href="#").text Machu Picchu Tickets 
      a(href="#").text Peru Volunteer and Travel
      p.text Connect With Us Follow View Peru around the world. Traveling with us? Tag your travels with #[span #viewperu] and you may be featured.
    .footer__right
      h2.title3 CONTACT US
      span.footer__line
      a(href="#") + 1 888 3619 895
      a(href="#") + 44 800 046 5350
      a(href="#") info@view-peru.com
      h2.title3 FOLLOW US
      .networksocial
        a(href="#") 
          img(src=rutaImg('icon-tripadvisor-view-peru-luxury-travel.png'), alt="icon-tripadvisor-view-peru-luxury-travel.png")
        a(href="#") 
          img(src=rutaImg('icon-youtube-view-peru-luxury-travel.png'), alt="icon-youtube-view-peru-luxury-travel.png")
        a(href="#") 
          img(src=rutaImg('icon-facebook-view-peru-luxury-travel.png'), alt="icon-facebook-view-peru-luxury-travel.png")
        a(href="#") 
          img(src=rutaImg('icon-twitterview-peru-luxury-travel.png'), alt="icon-twitterview-peru-luxury-travel.png")
        a(href="#") 
          img(src=rutaImg('icon-instagram-view-peru-luxury-travel.png'), alt="icon-instagram-view-peru-luxury-travel.png")
  .footer__bottom
    .footer__line.footer__line--full
    p.text ® View Peru & Signatures All Rights Reserved. 2014
    