section.itineraries.container
  +title('Itineraries','Our important services')
  .itineraries__content
    +itinerary(
      'Machu Picchu Full day Tour',
    `${rutaImg('historia-de-machu-picchu.png')}`,
    'Upon your arrival at Lima’s international airport, you will be greeted by an English speaking View Peru representative. You will be brought')

    +itinerary(
      'Relaxing Beach Culture – 11 Days',
      `${rutaImg('culturetours.png')}`,
      'Upon your arrival at Lima’s international airport, you will be greeted by an English speaking View Peru representative. You will be brought')

    +itinerary('Romantic Machu Picchu - 5 Day',
    `${rutaImg('romantic-machupicchu.png')}`,
    'Upon your arrival at Lima’s international airport, you will be greeted by an English speaking View Peru representative. You will be brought')

    +itinerary(
      'Relaxing Peru Tour - 11 Days',
      `${rutaImg('mancora-1.png')}`,
      'Upon your arrival at Lima’s international airport, you will be greeted by an English speaking View Peru representative. You will be brought')

    +itinerary(
      'Machu Picchu Full day Tour',
      `${rutaImg('perutour.png')}`,
      'Upon your arrival at Lima’s international airport, you will be greeted by an English speaking View Peru representative. You will be brought')

    +itinerary('Relaxation and Wildlife 14 Days',
    `${rutaImg('tour-honemon.png')}`,
    'Upon your arrival at Lima’s international airport, you will be greeted by an English speaking View Peru representative. You will be brought')