section.supor.container
  img(src=rutaImg('trip-advisor-view-peru.png'), alt="trip-advisor-view-peru.png")
  img(src=rutaImg('cusco-attc_0.png'), alt="cusco-attc_0.png")
  img(src=rutaImg('promperu-view-peru-signatures_0.png'), alt="trip-advisor-view-peru.png")
  img(src=rutaImg('mincetur-view-peru-signatures.png'), alt="mincetur-view-peru-signatures")
  img(src=rutaImg('dircetur-view-peru-signatures.png'), alt="dircetur-view-peru-signatures")