section.whyus
  .whyus__capa
  img.whyus__img(src=rutaImg('people-montain.jpg'), alt='people-montain.jpg')
  .whyus__content
    +title('Why us','Why choose us')
    .whyus__experience
      img(src=rutaImg('medal.png'), alt="medal.png")
      .whyus__text
        h2.title2 Experience
        p.text Over 6 years' experience delivering Peru First Class holidays.
    .whyus__expertice
      img(src=rutaImg('success.png'), alt="medal.png")
      .whyus__text
        h2.title2 Experience
        p.text We’ve handcrafted every itinerary and approved every service in our portfolio...
      
    .whyus__price
      img(src=rutaImg('offer.png'), alt="medal.png")
      .whyus__text
        h2.title2 Experience
        p.text We can always source a better Price than you can source direct.
    .whyus__service
      img(src=rutaImg('support.png'), alt="medal.png")
      .whyus__text
        h2.title2 Experience
        p.text We pride ourselves on our service. The answer is yes, now what's the question?
  