.accordion-content
  +button_accordion('Description')
  .accordion-panel
      h2 Information Tour Plan Gallery Reviews Relaxing Beach & Culture – 11 Days
      ul.icon-check
        li #[span Trip Style :] Private or Shared Available Tours  
        li #[span Duration :] 11 days and 10 Nights
        li #[span Departures :] Daily 
        li #[span Highlights :] The Colonial Lima city with a local Guide, Sacred Valley of Cusco, Machu Picchu, Cusco city tour and Saqsaywaman Fortress with Picnic Lunch, Romantic Rooms, and Dinners, ending the journey at the relaxing  Mancora Beach. Customize This Journey | If you would like to customize this itinerary and create a Tailor Made Journey just for you and your companions, click here to inquire, or speak to your tra
  +button_accordion('Include && no Includes')
  .accordion-panel
    h2 Includes
    ul.icon-check 
      li 10 nights in romantic accommodations of your choice, including local taxes, breakfast, and private bathrooms
      li Superior romantic Rooms
      li Romantic Amenities throughout the tour.
      li All indicated transfers in private service
      li Romantic private Farewell dinner in Cusco, at San Cristobal View Point
    h2 No includes
    ul.icon-x 
      li International flights and airport taxes
      li Domestic flights
      li Romantic Amenities throughout the tour.
      li Romantic Amenities throughout the tour.
      li Romantic private Farewell dinner in Cusco, at San Cristobal View Point
  +button_accordion('Tour plan')
  .accordion-panel
    .tour-plan__line__vertical
    .tour-plan
      .day
        .day__header
          h4.day__title Day 1
          span.day__dote
          span.day__line
        .day__content
          h2 Cusco
          p A su llegada a Cusco, será recibido por su amable guía de habla inglesa, que lo acompañará en un traslado privado al hotel.
          .day__icon
            a(href="http://")
              i.fa.fa-hotel 
              span Hotel
      .day
        .day__header
          h4.day__title Day 2
          span.day__dote
          span.day__line
        .day__content
          h2 Valle sagrado, B, L
          p Después del desayuno, tomará el tour del Valle Sagrado, es el lugar perfecto para relajarse, descansar y explorar. El increíble paisaje del Valle Asustado te dejará sin aliento; desde el cielo alto, las montañas en terrazas, los picos nevados en la distancia y las infinitas tierras de cultivo, ¡quedarás totalmente encantado con el estilo de vida andino tradicional!
          .day__icon
            a(href="http://")
              i.fa.fa-hotel 
              span Hotel
          .day__icon
            a(href="http://")
              i.fa.fa-cutlery
              span breakfast lunch
          .day__icon
            a(href="http://")
              i.fa.fa-hotel 
              span see our list of hotels
      .day
        .day__header
          h4.day__title day3
          span.day__dote
          span.day__line
        .day__content
          h2 Machu Picchu - Cusco, B, L
          p ¡Llevemos el amor a nuevas alturas! ¡Hoy es el día en que su sueño de visitar Machu Picchu se hace realidad! Aunque es un comienzo temprano en la mañana, nos hemos ocupado de todo. Para comenzar este día increíble, disfrute de un desayuno nutritivo en su hotel. Nos reuniremos con usted después del desayuno, se conectará con su representante de View Peru y se trasladará al autobús, en el cual completará su viaje a Machu Picchu.
          .day__icon
            a(href="http://")
              i.fa.fa-hotel 
              span Hotel
          .day__icon
            a(href="http://")
              i.fa.fa-cutlery
              span breakfast lunch
          .day__icon
            a(href="http://")
              i.fa.fa-hotel 
              span see our list of hotels
      .day
        .day__header
          h4.day__title Day 4
          span.day__dote
          span.day__line
        .day__content
          h2 Cusco, B, D
          p Hoy tiene el día libre, nunca hay escasez de cosas para ver y hacer mientras se deja llevar por el romance de Cusco.
          p Por la noche, hemos hecho reservas especiales para una cena gourmet tradicional cusqueña. ¡Disfruta de todo lo que Cusco tiene para ofrecer!
          .day__icon
            a(href="http://")
              i.fa.fa-hotel 
              span Hotel
          .day__icon
            a(href="http://")
              i.fa.fa-cutlery
              span breakfast lunch
          .day__icon
            a(href="http://")
              i.fa.fa-hotel 
              span see our list of hotels
      .day
        .day__header
          h4.day__title Day 5
          span.day__dote
          span.day__line
        .day__content
          h2  Cusco - Lima, B
          p En el último día de su tour clásico de luna de miel en Perú, disfrute de un desayuno relajado en su hotel. Su representante de View Peru y un vehículo privado se organizarán en relación con su vuelo de regreso a Lima. En Lima se conectará con su vuelo internacional de regreso a casa.ofrecer!
          .day__icon
            a(href="http://")
              i.fa.fa-hotel 
              span Hotel
          .day__icon
            a(href="http://")
              i.fa.fa-cutlery
              span breakfast lunch
          .day__icon
            a(href="http://")
              i.fa.fa-hotel 
              span see our list of hotels
  +button_accordion('Gallery')
  .accordion-panel
    .accordion-gallery
      a(href="http://")
        img(src=rutaImg('blog-sidebar2.jpg'), alt="view-peru")
      a(href="http://")
        img(src=rutaImg('blog-sidebar1.jpg'), alt="view-peru")
      a(href="http://")
        img(src=rutaImg('blog-sidebar2.jpg'), alt="view-peru")
      a(href="http://")
        img(src=rutaImg('blog-sidebar1.jpg'), alt="view-peru")
      a(href="http://")
        img(src=rutaImg('blog-sidebar2.jpg'), alt="view-peru")
      a(href="http://")
        img(src=rutaImg('blog-sidebar1.jpg'), alt="view-peru")
